@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #1d1f27;
}

.home {
  background-image: url("./assets/main-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 100% 100%;
}

input,
textarea {
  background-color: transparent;
  outline: none;
}

#hotprice-label {
  position: relative;
}

.toggle-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

#hotprice:checked ~ .toggle-icon {
  left: 20px;
  background-color: #ed422b;
}
